.create-event {
    position: relative;
}

.event-form {
    height: 450px;
}

.event-form form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
    padding: 20px;
    color: white;
    min-width: max-content;
}

.event-form form h2 {
    text-align: center;
}

.event-form form .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.event-form form .section .section-input {
    display: flex;
    gap: 10px;
}

.event-form form .section .section-input input {
    width: fit-content;
}

.event-form form .section .time-selector {
    display: flex;
    gap: 10px;
}

.event-form form .section .time-selector select {
    width: fit-content;
    padding-right: 20px;
    text-align: right;
}

.event-form form .section label {
    margin: 0;
}

.event-form form .section select,
.event-form form .section textarea,
.event-form form .section input {
    margin: 0;
    padding: 5px;
    padding-left: 5px;
    width: 189px;
    border-radius: 0;
    border: none;
}

.event-form form #form-submit {
    background-color: white;
    color: black;
    width: fit-content;
    border: 1px solid rgb(8, 18, 37);
    font-weight: 500;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
}

.event-form form #form-submit:hover {
    cursor: pointer;
    background-color: rgb(8, 18, 37);
    border: 1px solid white;
    color: white;
}

.event-form #error {
    color: red;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    text-align: center;
}

.event-form .create-modal {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    z-index: 10;
}

.event-form .create-modal h2 {
    margin: 0;
}

.event-form .create-modal h4 {
    padding-bottom: 10px;
}

.event-form .create-modal .modal-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.event-form .create-modal .modal-buttons p {
    background-color: rgb(8, 18, 37);
    color: white;
    width: fit-content;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0;
}

.event-form .create-modal .modal-buttons p:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid rgb(8, 18, 37);
}

.event-form #error {
    color: red;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    text-align: center;
}
