.create-page {
    margin-top: -50px;
    height: calc(100vh);
    position: relative;
}

.create-page-content {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    max-width: 80%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.create-page .create-page-content .form {
    position: relative;
    width: 40%;
}

.create-page .create-page-content form {
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    padding: 20px;
    color: white;
}

.create-page .create-page-content form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.create-page .create-page-content form div label {
    margin: 0;
}

.create-page .create-page-content form div select,
.create-page .create-page-content form div textarea,
.create-page .create-page-content form div input {
    margin: 0;
    padding: 5px;
    padding-left: 5px;
    width: 189px;
    border-radius: 0;
    border: none;
}

.create-page .create-page-content form #form-submit {
    background-color: blue;
    color: white;
    width: fit-content;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    margin-top: 20px;
}

.create-page .create-page-content form #form-submit:hover {
    cursor: pointer;
}

.create-page .create-page-content .divider {
    width: fit-content;
    position: relative;
}

.create-page .divider #divider {
    width: 2px;
    height: 100%;
    background-color: orangered;
}

.create-page .divider h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: orangered;
    padding: 10px;
}

.form-error {
    margin: 0;
    padding-top: 5px;
    color: red;
    text-align: center;
}

#disabled {
    opacity: .3;
}

#disabled-text {
    position: absolute;
    z-index: 10;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
