#login-text {
    color: red;
    text-align: center;
    margin: 20px 0;
}

.create-page-content {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.create-page .create-page-content .divider {
    position: relative;
    padding: 0 35px;
}

.create-page .divider #divider {
    width: 2px;
    height: 100%;
    background-color: orangered;
}

.create-page .divider h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: orangered;
    padding: 10px;
    margin: 0;
}

.form-error {
    margin: 0;
    padding-top: 5px;
    color: red;
    text-align: center;
}

@media screen and (max-width: 750px) {
    .create-page-content {
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }

    .create-page .create-page-content .divider {
        position: initial;
    }

    .create-page .divider h1 {
        position: unset;
        transform: none;
    }
}
