body {
    background-color: white;
}

.profile-page .user .user-content {
    width: 80%;
    margin: 30px auto;
}

.profile-page .user h1 {
    margin-bottom: 30px;
    text-align: center;
    color: black;
}

.profile-page .user-info {
    display: flex;
    justify-content: center;
    gap: 30%;
}

.profile-page .upcoming-events,
.profile-page .previous-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    overflow: hidden;
    color: rgb(8, 18, 37);
    width: 80%;
    margin: 0 auto;
}

.profile-page .upcoming-events .upcoming-slider,
.profile-page .previous-events .previous-slider {
    width: 100%;
}

.profile-page .upcoming-events .upcoming-slider .list,
.profile-page .previous-events .previous-slider .list {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    gap: 5px;
    height: 100%;
    margin-top: 10px;
}

.section-header {
    background-color: rgb(8, 18, 37);
    width: 100%;
}

.section-header h2 {
    background-color: white;
    color: rgb(8, 18, 37);
    width: fit-content;
    margin: 0;
    padding-right: 30px;
}
