body {
    background-color: #dcc1ae;
    color: black;
}

#search-input {
    padding: 5px;
}

.search-btn,
.search-title button {
    max-height: 40px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    padding: .5rem 1rem;
    border-radius: 5px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 20px;
    transition: all .2s ease-out;
}

.filter-btn {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    padding: .5rem 1rem;
    border-radius: 5px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 1rem;
    transition: all .2s ease-out;
}

.search-btn:hover,
.search-title button:hover,
.filter-btn:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.search-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
}

.search-card {
    max-width: 30%;
    border-radius: 10px;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.search-title {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 5px;
    padding-left: 10px;
    border-bottom: #dcc1ae solid 1px;
}

.search-title h1 {
    font-size: 1.5rem;
    width: fit-content;
}

.search-content {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
}

.ingredient-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow: hidden;
    overflow-y: scroll;
    height: 150px;
    border: #ae9a8b .5px solid;
}

.ingredient {
    width: 10%;
}

.filter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c3ac9b;
    border-top: #72665c solid 1px;
    border-bottom: #72665c solid 1px;
    margin: 1rem 0;
    padding: 1rem 0;
}

.filter-container > div, h5 {
    padding: 0 1rem;
}

.filter-container > select {
    width: fit-content;
    margin-left: 1rem;
    padding: 0;
}

.filter-container button {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: fit-content;
    transition: all .2s ease-out;
}

::-webkit-scrollbar {
    background-color: #dcc1ae;
    border: #72665c 1px solid;
}

::-webkit-scrollbar-thumb {
    background-color: #b09c8d;
    border: #72665c 1px solid;
}
