.search-page {
    position: relative;
    background-color: black;
}

.search-bar {
    height: 100px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
    background-color: black;
    border: 1px solid blue;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
}

.search-bar > * {
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar p {
    width: max-content;
    margin: 0;
}

.search-bar select {
    width: max-content;
    height: 50px;
}

.search-bar input {
    height: 50px;
    border-radius: 5px;
    text-align: center;
}

.search-bar button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.search-container {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
}

.search-container .event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: inherit;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 3px 3px 5px grey;
    border: 1px solid lightgrey;
}

.search-container .event h1 {
    text-align: center;
    border-bottom: 1px solid grey;
}

.search-container .event * {
    margin: 0;
}

.search-container .event:nth-child(even) {
    background-color: rgb(237, 237, 237);
}
