.hero {
    position: relative;
    background-color: black;
    max-height: 700px;
    display: flex;
}

.hero img {
    width: 100%;
}

.call-to-action {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    color: rgb(8, 18, 37);
    background-color: white;
    padding: 20px;
    padding-bottom: 5px;
    border-radius: 10px 10px 0 0;
    width: 50%;
    z-index: 1;
}

.hero-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -50px;
}

#cta-button {
    background-color: rgb(8, 18, 37);
    padding: 10px;
    margin-top: 25px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

#cta-button:hover {
    background-color: white;
    color: rgb(8, 18, 37);
    border: 1px solid rgb(8, 18, 37);
    text-decoration: none;
}

.hero-divider {
    background-color: rgb(8, 18, 37);
    height: 95px;
    position: relative;
}

.hero-divider #divider-circle {
    background-color: white;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 550px) {
    .hero-action h4 {
        font-size: 16px;
    }

    .hero-divider #divider-circle {
        height: 150px;
        width: 150px;
    }
}

@media screen and (max-width: 400px) {
    .hero-action h4 {
        font-size: 14px;
    }

    .hero-divider #divider-circle {
        height: 120px;
        width: 120px;
    }

    .hero-action {
        margin-bottom: -25px;
    }

    #cta-button {
        padding: 5px;
        border-radius: 5px;
        color: white;
        font-weight: 700;
        margin-top: 10px;
    }
}
@media screen and (max-width: 375px) {
    .hero-action h4 {
        font-size: 12px;
    }
}
