.hero {
    color: white;
    font-family: Poppins;
    position: relative;
    height: 400px;
}

.hero img {
    width: 100%;
    max-width: 1200px;
    height: 400px;
    opacity: .8;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.hero .hero-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.hero .hero-text h1 {
    font-size: 64px;
    text-shadow: 0px 7px 5px black;
}

@media screen and (max-width: 500px) {
    .hero .hero-text h1 {
        font-size: 48px;
    }
     .hero .hero-text h4 {
        font-size: 20px;
    }
}

@media screen and (max-width: 425px) {
    .hero {
        height: 300px;
    }
    
    .hero img {
        height: 300px;
    }

    .hero .hero-text h1 {
        font-size: 36px;
    }
    
    .hero .hero-text h4 {
        font-size: 18px;
    }
}
