@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: -50px;
    position: relative;
    font-family: Poppins;
    font-size: 12px;
    z-index: 1;
}

.carousel .list .item {
    position: absolute;
    inset: 0 0 0 0;
}

.carousel .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .list .item .content {
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: white;
}

.carousel .list .item .content .title {
    text-shadow: 0 5px 10px black;
    font-weight: bold;
    font-size: 5em;
}

.carousel .list .item .content .upcoming-title {
    text-shadow: 0 2px 10px black;
    color: orangered;
    font-size: 2em;
    font-weight: bold;
}

.carousel .list .item .content .slider {
    width: 100%;
    min-height: 150px;
}

.carousel .list .item .content .slider .list {
    display: flex;
    gap: 5px;
    height: 100%;
    margin-top: 10px;
}

.carousel .list .item .content .slider .list .event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: relative;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 20px;
    width: 300px;
}

.carousel .list .item .content .slider .list .event h1 {
    text-align: center;
    border-bottom: 1px solid grey;
}

.carousel .list .item .content .slider .list .event #last {
    margin-bottom: 15px;
}

.carousel .list .item .content .slider .list .event button {
    background-color: transparent;
    border: none;
    width: fit-content;
    color: blue;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.carousel .list .item .content .slider .list .event button:hover {
    cursor: pointer;
}

.carousel .list .item .content .slider .list .event * {
    margin: 0;
}

.carousel .list .item .content .slider .list .event:nth-child(2) {
    background-color: rgb(237, 237, 237);
}

.carousel .list .item .content .buttons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

.carousel .list .item .content .buttons a {
    background-color: white;
    letter-spacing: 3px;
    font-weight: 500;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.carousel .list .item .content .buttons a:hover {
    background-color: white;
    color: black;
    border: none;
    text-decoration: none;
}